---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=123456789356813&client_secret=huh2e6m12345678999e123f3dxw123s1&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=123456789356813|dEIMGRXEfjQdND_Cy8MK5ONrURA
  recorded_at: Tue, 11 Dec 2012 11:53:06 GMT
- request:
    method: post
    uri: https://graph.facebook.com/123456789356813/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions=offline_access%2Cread_stream&access_token=123456789356813%7CdEIMGRXEfjQdND_Cy8MK5ONrURA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100004847042408","access_token":"AAAFICNFu7Y0BACwNaVtNJ9xZAz9ZA6U6n0VJ7pyfaZAPXy46O96SgzE4lXeNkaZA1Ne58tNbGQZCTqZCo89MRhfVBHbtVYmZAE4LoVHOmpXtEjiQ58ZAW2ny","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100004847042408&n=Slmn8rX99qxyabn","email":"bonuund_liangstein_1355226786\u0040tfbnw.net","password":"1628490954"}'
  recorded_at: Tue, 11 Dec 2012 11:53:16 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=AAAFICNFu7Y0BACwNaVtNJ9xZAz9ZA6U6n0VJ7pyfaZAPXy46O96SgzE4lXeNkaZA1Ne58tNbGQZCTqZCo89MRhfVBHbtVYmZAE4LoVHOmpXtEjiQ58ZAW2ny
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      etag:
      - ! '"a79e2060fcbfe4fd91f32440f62007967d12af87"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100004847042408","name":"Harry Amdhdgjdbdjh Liangstein","first_name":"Harry","middle_name":"Amdhdgjdbdjh","last_name":"Liangstein","link":"http:\/\/www.facebook.com\/profile.php?id=100004847042408","gender":"male","timezone":0,"locale":"de_DE"}'
  recorded_at: Tue, 11 Dec 2012 11:53:16 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100004847042408
    body:
      encoding: US-ASCII
      string: access_token=360677687356813%7CdEIMGRXEfjQdND_Cy8MK5ONrURA&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Tue, 11 Dec 2012 11:53:22 GMT
recorded_with: VCR 2.3.0
