---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=some_wrong_testtoken_for_fb
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      www-authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Tue, 11 Dec 2012 10:07:29 GMT
recorded_with: VCR 2.3.0
