.block
  %h1
    = image_tag "signet-rylyty.png", :id => "signet-rylyty"
  %h2.red Alpha-Version AGB

  %h2 Allgemeine Geschäftsbedingungen für die Nutzung von rylyty-Angeboten
  %p &nbsp;

  %h2 1. Geltungsbereich, Änderungen der AGB
  %p
    1.1.
    %br
    Die Website www.rylyty.com bzw. mobile Applikation und weitere Dienste (nachfolgend "rylyty-Angebote"), für die Du Dich registrierst, wird von der Holtzbrinck Digital GmbH, Landsberger Str. 187, 80687 München (nachfolgend “HD GmbH”) betrieben. Die rylyty-Angebote werden Dir auf Grundlage dieser Allgemeinen Geschäftsbedingungen (nachfolgend “AGB”) zur Verfügung gestellt.
  %p
    1.2.
    %br
    Für die Nutzung der rylyty-Angebote musst Du diese AGB akzeptieren und sie einhalten. Lies Dir den folgenden Text aufmerksam durch, bevor Du Dich bei uns registrierst. Melde Dich nur an, wenn Du jeden Punkt verstanden hast. Wenn du unter 18 Jahre alt bist und Dir etwas unklar sein sollte, lass Dir die AGB von Deinen Eltern oder Deinen Erziehungsberechtigten erklären. Frage sie auch, ob sie mit der Registrierung bei uns einverstanden sind. In jedem Fall erzähle Deinen Eltern, dass Du Dich bei uns registriert hast.
  %p
    1.3.
    %br
    Durch den Zugriff auf die rylyty-Angebote oder durch deren Nutzung erklärst Du Dich einverstanden, rechtlich an diese Bedingungen gebunden zu sein. Wenn Du nicht an diese AGB gebunden sein möchtest, darfst Du die rylyty-Angebote nicht nutzen.
  %p
    1.4.
    %br Wir behalten uns das Recht vor, die AGB mit Wirkung für die Zukunft zu ändern. Wenn es Änderungen an den AGB gibt, sagen wir dir vorher Bescheid. Dabei weisen wir dich auch darauf hin, dass die Änderungen als angenommen gelten,
    \- wenn du den Änderungen nicht binnen vier Wochen widersprichst oder
    %br - sobald du die App danach wieder nutzt.
  %p Über Änderungen dieser AGB oder sonstige Angelegenheiten können wir Dich per E-Mail, Hinweise oder über Hinweise oder Links in unseren rylyty-Angeboten informieren.

  %h2 2. Gegenstand - Was bieten Dir die rylyty-Angebote?
  %p
    2.1. Produktbeschreibung
    %br
    Die rylyty-Angebote beinhalten interaktive Inhalte in Form von aufgabenbasierten Spielen, die zum großen Teil in der Realität (d.h. außerhalb des Internets) gespielt werden. Auf diese Spiele kannst du nach der Registrierung zugreifen. Du kannst die bereits vorhandenen Spiele Spiele nutzen, oder auch selbst welche erstellen. Die Spiele können online und offline gespielt werden, allein oder zusammen mit Freunden. Für den erfolgreichen Spielabschluss oder den Abschluss von Aufgaben gibt es verschiedene Beweismöglichkeiten, z.B. Multiple Choice Fragen oder Foto-Upload. Für das erfolgreiche Beenden eines Spiels erhältst Du Punkte, die unter anderem zur Freischaltung neuer Spiele eingesetzt werden können.
  %p
    Dazu stehen Dir folgende Anwendungen zur Verfügung:
    %br Profil: Hier kannst du dein Profilbild einstellen, deine von dir gespielten und erstellten Spiele sehen, sowie deine Spielerfolge und mit dir befreundete Nutzer.
    %br Spiele: Du kannst in unseren Angeboten Spiele aufrufen, durchführen und abschließen sowie deine Freunde dazu einladen. Außerdem kannst du eigene Spiele erstellen.
    %br Kommentare zu Beweisen: Du kannst Deine eigenen Beweise und die Beweise Deiner Freunde sowie anderer Nutzer kommentieren und bewerten
    %br Punktesystem: Durch gewonnene Punkte kannst du deinen Spiel-Fortschritt im Vergleich zu anderen Nutzern der rylyty-Angebote bewerten. Neben den Punkten gibt es außerdem Trophäen (“Badges”) und eine eigene Spielwährung (“Credits”)
    %br Credits: Credits sind eine eigene, interne Spielwährung, mit denen unter anderem einzelne Spiele und andere Inhalte sowie Funktionen freischaltet werden können. Credits können auch käuflich erworben werden. Wir behalten wir uns vor, deinen monatlichen Höchstbetrag an erwerblichen Credits nach eigenem Ermessen zu beschränken.
  %p
    2.2.
    %br
    Durch die sozialen Funktionen der rylyty-Angebote könnt Ihr euch untereinander vernetzen, den individuellen Spielerfolg eurer Mitspieler bewerten und kommentieren.
  %p
    2.3.
    %br
    Wir sind bestrebt, die rylyty-Angebote kontinuierlich weiterzuentwickeln. Im Rahmen dieser Weiterentwicklungen werden die rylyty-Angebote verbessert und/oder erweitert werden. Dennoch bleibt die maximale Menge der pro Nutzer abzuspeichernden Daten beschränkt.
  %p
    2.4.
    %br
    Der Anspruch auf Nutzung der rylyty-Angebote besteht nur im Rahmen des aktuellen Stands der Technik. In diesem Zusammenhang kann es bisweilen auch erforderlich sein, Leistungen innerhalb der rylyty-Angebote temporär zu beschränken – etwa im Hinblick auf Kapazitätsgrenzen, die Sicherheit der rylyty-Angebote, die Integrität der Server oder zur Durchführung technischer Maßnahmen im Interesse einer ordnungsgemäßen Erbringung der Leistungen. Deine berechtigten Interessen werden wir berücksichtigen und z.B. geplante Wartungsarbeiten an rylyty-Angeboten vorab auf der Website ankündigen.
  %p
    2.5.
    %br
    Die rylyty-Angebote dienen insbesondere dazu, Dir Spiele bereit zu stellen, Dir die Möglichkeit zu geben Spiele selbst zu erstellen, Dir den Austausch zu den angebotenen Spielen zu ermöglichen, Deinen Erfolg zu dokumentieren und mit anderen zu vergleichen. Hierfür stellen wir die technischen Anwendungen bereit; inhaltlich beteiligen wir uns nicht an der Kommunikation der Nutzer untereinander.

  %h2 3. Registrierung
  %p
    3.1.
    %br
    Du musst Dich vor Inanspruchnahme der rylyty-Angebote auf der Website bzw. der mobilen Applikation registrieren. Du kannst Dich zusätzlich über die Verbindung Deines persönlichen Nutzerkontos auf www.facebook.com (Betreiber: Facebook Inc., 1601 S. California Avenue, Palo Alto, CA 94304, USA) bei den rylyty-Angeboten registrieren.
  %p
    3.2.
    %br Du sicherst zu, dass Du zum Zeitpunkt der Registrierung mindestens 13 Jahre alt bist.
    %br Zudem garantierst Du, dass alle von Dir bei der Registrierung angegebenen Daten wahr und vollständig sind.
  %p
    3.3.
    %br Du darfst als Benutzernamen ein Pseudonym oder Künstlernamen verwenden. Um von deinen Freunden besser gefunden werden zu können, ist es empfehlenswert deinen echten Namen zu verwenden.
  %p
    3.4.
    %br Bei der Registrierung musst Du ein Passwort für deinen Account festlegen.
  %p
    3.5.
    %br Durch den Abschluss des Registrierungsvorganges gibst Du ein Angebot zum Abschluss des Vertrages über die Nutzung der Dienste der rylyty-Angebite ab. Die HD GmbH nimmt dieses Angebot durch Deine Freischaltung für die Dienste der rylyty-Angebote an. Durch diese Annahme kommt der Vertrag zwischen Dir und der HD GmbH zustande.
  %p
    3.6.
    %br Du darfst Dich nur einmal registrieren und nur ein Nutzerprofil anlegen.
  %p
    3.7.
    %br Wir können technisch nicht mit Sicherheit feststellen, ob Du tatsächlich diejenige Person darstellt, die Du bei dem Registrierungsvorgang vorgibst zu sein. Daher leisten wir keine Gewähr für die tatsächliche Identität eines Nutzers. Jeder Nutzer hat sich daher selbst von der Identität eines anderen Nutzers zu überzeugen.
  %p
    3.8.
    %br
    Wir weisen darauf hin, dass Dir rechtsgeschäftliche Erklärungen (z. B. Bestätigungs-E-Mail, Änderungen der AGB) per E-Mail zugehen können. Diese gelten insbesondere dann als zugegangen, wenn sie unter normalen Umständen in Deiner Mailbox abrufbar sind.
  %p
    3.9.
    %br
    Wird die Registrierung nicht vollständig abgeschlossen, löschen wir alle bis dahin gemachten Angaben und das unvollständig angelegte Nutzerkonto.
  %p
    3.10.
    %br
    Ein Anspruch auf Abschluss eines Nutzungsvertrages besteht nicht. Das bedeutet, dass wir eine Registrierung ohne Angabe von Gründen ablehnen können. In diesem Fall wird die HD GmbH die durch Dich mit dem Registrierungsformular übermittelten Daten sofort löschen.

  %h2 4. Kündigung, Sperrung des Mitgliedskontos
  %p Die vorliegenden AGB bleiben so lange gültig, bis sie entweder von Dir oder von uns gekündigt werden.
  %p
    4.1.
    %br
    Du kannst Deinen Account zu jeder Zeit aus welchem Grund auch immer löschen. Die HD GmbH wird dann die für Dich gespeicherten Daten löschen. Diejenigen Beiträge, die Du vor der Kündigung über die rylyty-Angebote öffentlich zugänglich gemacht hast (z.B. in Kommentaren zu einem Spiel), bleiben nach der erfolgten Deaktivierung weiterhin abrufbar – dies jedoch ohne Angabe Deines Namens und mit dem Hinweis, dass der Beitrag von einem inzwischen gelöschten Nutzer stammt.
  %p
    4.2.
    %br
    Wenn du minderjährig bist, können deine Eltern oder dein Erziehungsberechtigter deinen Account löschen lassen, wenn sie nicht damit einverstanden sind, dass du bei rylyty-Angeboten registriert bist. Die Löschung des Nutzerkontos muss schriftlich oder in Textform bei der HD GmbH unter Angabe der nötigen Angaben (z. B. E-Mail-Adresse des Kindes) und ggf. unter Übermittlung von Identitätsnachweisen beantragt werden.
  %p
    4.3.
    %br
    Du bist damit einverstanden, dass wir nach eigenem Ermessen und aus welchem Grund auch immer Deinen Account (oder Teile bzw. bestimmte Inhalte darin) oder jede sonstige Benutzung unserer Dienste durch Dich beendet und jeglichen Deiner Inhalte löschen können.
    %br Dies gilt insbesondere, falls Du die rylyty-Angebote längere Zeit nicht genutzt hast oder falls wir davon ausgehen, dass Du diese AGB verletzt, dass Du wesentliche Grundgedanken der AGB nicht befolgt hast, dass Du die gesetzlichen Vorschriften nicht eingehalten hast, dass Du für Vereinigungen oder Gemeinschaften – oder deren Methoden oder Aktivitäten –, die von Sicherheits- oder Jugendschutzbehörden beobachtet werden wirbst, dass Du einem oder mehreren anderen Nutzern schädigst, dass Du Mitglied einer Sekte oder einer in Deutschland umstrittenen Glaubensgemeinschaft bist oder wenn es wirtschaftlich nicht mehr vertretbar ist, Dir die rylyty-Angebote bereitzustellen.
  %p
    4.4.
    %br
    Du bist damit einverstanden, dass jegliche Unterbrechung Deines Zugangs zu den rylyty-Angeboten den Bestimmungen dieser Vereinbarung ohne vorherige Mitteilung durchgeführt werden kann und dass wir Dein Mitgliedskonto und alle Informationen und Dateien unverzüglich sperren oder löschen und/oder jeglichen weiteren Zugang zu solchen Dateien oder zu den rylyty-Angeboten unterbinden kann.
  %p
    4.5.
    %br
    Im Falle einer Löschung Deines Mitgliedskontos kannst Du nur nach unserer vorherigen schriftlichen und ausdrücklichen Zustimmung wieder Zugang zu unserem Angebot erhalten. Du darfst einem Nutzer, dessen Mitgliedskonto gelöscht oder gesperrt wurde, auch nicht über Dein Mitgliedskonto oder mit Hilfe Deines Mitgliedskontos dabei behilflich sein, Zugang zu den rylyty-Angeboten zu erhalten.
  %p
    4.6.
    %br
    Die Verpflichtungen nach Ziff. 5.1. bis 5.14., 6., 7., 8., 9., 12. gelten auch nach Löschung des Mitgliedskontos weiter, soweit sich ihre Anwendung auf Ihr Verhalten vor dem Zeitpunkt der Löschung bezieht.

  %h2 5. Allgemeine Pflichten des Nutzers
  %p
    5.1.
    %br
    Du hast dafür Sorge zu tragen, dass Dein Mitgliedskonto nur von Dir selbst genutzt wird und musst zu diesem Zweck insbesondere Dein Passwort geheim halten. Auch Mitarbeiter von der HD GmbH werden dich zu keinem Zeitpunkt nach dem Passwort fragen.
  %p
    5.2.
    %br
    Spätere Änderungen an deinen Zugangsdaten (E-Mailadresse und Passwort) musst du umgehend in den Einstellungen deines Accounts korrigieren.
  %p
    5.3.
    %br
    Du erkennst an, dass Du als Inhaber Deines Mitgliedskontos in vollem Umfang für alle Aktivitäten, die über Dein Mitgliedskonto ausgeübt werden, verantwortlich bist. Falls Du einer anderen Person die Nutzung Deines Accounts gestattet hast, erkennst Du an, dass Du voll verantwortlich bist für die Handlungen dieses Nutzers, die Kontrolle des Zugangs und die Nutzung des Angebots durch den Nutzer und die Folgen jeden Missbrauchs.
  %p
    5.4.
    %br
    Du informierst uns unverzüglich über jede missbräuchliche Benutzung Deines Passwortes oder Mitgliedkontos sowie über jegliche sonstige Verletzung von Sicherheitsvorschriften.
  %p
    5.5.
    %br
    Du verpflichtest Dich, Handlungen zu unterlassen, welche die Funktionsfähigkeit unserer Dienste beeinträchtigen können (z.B. durch Software oder sonstige Scripts). Das gilt insbesondere auch für den Einsatz von "robot", "spider" oder "offline-reader" Software, die Nutzeranfragen über das Internet automatisch erzeugen. Ebenso unterlässt Du es, Dir nicht von uns hierfür zur Verfügung gestellte Bereiche der rylyty-Angebote, einschließlich Bereichen anderer Nutzer, zu modifizieren, zu überschreiben, zu kopieren oder zu verbreiten.
  %p
    5.6.
    %br
    Du darfst unsere rylyty-Angebote oder Teile davon, den Einsatz unserer rylyty-Angebots durch Dich als Dienstleistung oder den Zugang zu unseren rylyty-Angebot nicht für kommerzielle Zwecke gleich welcher Art nutzen; z.B. nachahmen, verkaufen, vermieten oder für eigene oder fremde Werbezwecke nutzen oder anbieten.
  %p
    5.7.
    %br
    Dir ist bekannt, dass in unseren rylyty-Angeboten und damit im Umfeld Deiner Inhalte, ggf. auch vor und nach Deinen Inhalten von uns vermarktete Werbung stattfindet und Du erklärst Dich hiermit ausdrücklich einverstanden. Du gestattest uns ferner von Bildern und Videos zur besseren Nutzung unserer rylyty-Angebots, insbesondere durch eine Suchfunktion, verkleinerte Bilder (Thumbnails) herzustellen und in den rylyty-Angeboten zu nutzen. Dir ist auch bekannt, dass die technische Verarbeitung und Übertragung unserer rylyty-Angebot, einschließlich der von Dir eingegebenen Inhalte, es notwendig machen kann, Übertragungen über verschiedene Netzwerke vorzunehmen und/oder technische Veränderungen vorzunehmen, um den technischen Anforderungen verbundener Netzwerke oder sonstiger technischer Einrichtungen zu entsprechen.
  %p
    5.8.
    %br
    Vor dem Upload einer Bilddatei musst Du sicherstellen, dass Dir an dem Foto bzw. der Datei die ausschließlichen Nutzungsrechte zustehen und die öffentliche Zugänglichmachung der Bilddatei nicht gegen gesetzliche Vorschriften, die guten Sitten und/oder gegen Rechte Dritte verstößt.
  %p
    5.9.
    %br
    Es ist verboten, über die rylyty-Angebote Bilddateien mit Gewaltdarstellungen hochzuladen und/oder öffentlich zugänglich zu machen; zudem dürfen die Bilddateien keine sexuellen, diskriminierenden, beleidigenden, rassistischen, verleumderischen, gegen Jugendschutzgesetze verstoßende oder sonstig rechtswidrigen Inhalte oder Darstellungen beinhalten.
  %p
    5.10.
    %br
    Ebenso ist untersagt, solche Bilddateien hochzuladen, auf denen ausschließlich oder nur unter anderem Firmen-, Marken- oder sonstige Geschäftszeichen bzw. andere geschützte Zeichen dargestellt werden.
  %p
    5.11.
    %br
    Lädst Du Fotoaufnahmen hoch, auf denen neben Dir selbst noch eine weitere oder mehrere Personen zu erkennen sind, darf sowohl der Upload als auch die Markierung bzw. Verlinkung der Bilddatei nur erfolgen, soweit die Zustimmung des bzw. der Dritten hierzu vorliegt.
  %p
    5.12.
    %br Du bist verpflichtet, die folgenden belästigenden Handlungen zu unterlassen, auch wenn diese konkret keine Gesetze verletzen sollten:
    %br Versendung von Kettenbriefen, Durchführung, Bewerbung und Förderung von Strukturvertriebsmaßnahmen (wie Multi-Level-Marketing oder Multi-Level-Network-Marketing) oder anzügliche oder sexuell geprägte Kommunikation (explizit oder implizit).
  %p
    5.13.
    %br
    Es gilt darüber hinaus den für dich und alle anderen Nutzer verbindlichen Verhaltenskodex für die Nutzung der rylyty-Angebote zu beachten, der auch strenger sein kann als geltende gesetzliche Vorschriften und der abrufbar ist unter http://www.rylyty.com/codex.
  %p
    5.14.
    %br
    Wir behalten uns vor, Bilddateien und/oder weitere Metadaten auch ohne Vorankündigung zu entfernen, wenn und soweit sich seitens der HD GmbH konkrete Anhaltspunkte dafür ergeben, dass diese durch eine öffentliche Zugänglichmachung über die rylyty-Angebote gegen gesetzliche Vorschriften, die guten Sitten und/oder gegen Rechte Dritte verstoßen wird.

  %h2 6. Verantwortlichkeit der Nutzer
  %p
    6.1.
    %br
    Die Verantwortung für sämtliche Informationen, Daten, Texte, Software, Musik, Geräusche, Photos, Graphiken, Videos, Nachrichten oder sonstige Materialien ("Inhalt"), die unter Verwendung der rylyty-Angebote von Dir oder anderen Nutzern gespeichert, veröffentlicht oder übermittelt werden, liegt ausschließlich und uneingeschränkt bei der Person, von der ein solcher Inhalt stammt; also z.B. für Inhalte, die Du selbst geschaffen hast, aber auch für Inhalte, die Du aus anderen Quellen erworben hast, und die Du unter Nutzung unserer rylyty-Angebote darin speicherst, veröffentlichst und/oder übermittelst, ausschließlich und uneingeschränkt bei Dir.
  %p
    6.2.
    %br
    Die HD GmbH kontrolliert Inhalte, die Du oder andere Nutzer über unsere rylyty-Angebote speicherst, veröffentlichst und/oder übermittelst, grundsätzlich nicht und übernimmt deshalb keine Gewähr für die Richtigkeit, Angemessenheit und Qualität solcher Inhalte. Du bist Dir bewusst, dass Du durch die Benutzung der rylyty-Angebote einem Inhalt ausgesetzt sein könntest, der beleidigend, anstößig oder in sonstiger Weise zu beanstanden ist, wenn der für diesen Inhalt verantwortliche Nutzer sich nicht an die Bestimmungen dieser AGB oder der einschlägigen Gesetze hält.
  %p
    6.3.
    %br
    Auch wenn wir Inhalte von Nutzern grundsätzlich nicht überprüfen oder kontrollieren, behalten wir uns jedoch das Recht vor, Inhalte, die über unsere rylyty-Angebote zugänglich sind, ohne Angabe von Gründen mit sofortiger Wirkung zurückzuweisen, zu sperren, zu löschen oder ggf. an einem anderen Ort innerhalb der rylyty-Angebots zu veröffentlichen, insbesondere uns zur Kenntnis gekommene Inhalte von Nutzern, wenn diese gegen diese AGB verstoßen.
  %p
    6.4.
    %br
    Falls Du gesperrt wurdest, ist Dir eine weitere Nutzung der rylyty-Angebote untersagt. Zudem ist es Dir im Falle einer Sperrung oder Löschung verboten, Dich erneut zu registrieren.
  %p
    6.5.
    %br
    Die HD GmbH ist berechtigt, Inhalte zu speichern und an Dritte weiterzugeben, soweit dies gesetzlich vorgeschrieben oder nach pflichtgemäßem Ermessen notwendig und rechtlich zulässig ist, um (a) gesetzliche Bestimmungen oder richterliche oder behördliche Anordnungen zu erfüllen, (b) diese AGB durchzusetzen, (c) auf die Geltendmachung einer Rechtsverletzung durch Dritte zu reagieren oder (d) die Rechte, das Eigentum oder die persönliche Sicherheit von der HD GmbH, ihren Nutzern oder der Öffentlichkeit zu wahren.
  %p
    6.6.
    %br
    Du bist für Deine Nutzung der Dienste verantwortlich und für die von Dir bereitgestellten Inhalte sowie für alle sich daraus ergebenden Folgen. Dies gilt auch für die Nutzung Deiner Inhalte durch andere Benutzer und unserer externen Partner. Du erkennst an, dass Deine Inhalte von unseren Partnern syndiziert, übertragen, verbreitet oder veröffentlicht werden dürfen. Wenn Du befugt bist, Inhalte für eine derartige Verwendung zu übermitteln, kannst Du zur Haftung herangezogen werden. Wir übernehmen keine Verantwortung oder Haftung, wenn wir Deine Inhalte gemäß den vorliegenden Bedingungen nutzen. Du gewährleistest und sicherst zu, dass Du über alle Rechte, Vollmachten und Befugnisse verfügst, die erforderlich sind, um die hierin eingeräumten Rechte an den von Dir übermittelten Inhalten zu gewähren.

  %h2 7. Inhalte von Nutzern
  %p
    7.1.
    %br
    Die HD GmbH gestattet Dir unsere rylyty-Angebote im Einklang mit den gesetzlichen Bestimmungen und den Bestimmungen dieser AGB zu verwenden, um Inhalte zu speichern, zu veröffentlichen, zu übermitteln und mit anderen Nutzern zu teilen.
  %p
    7.2.
    %br
    Du überträgst der HD GmbH, unter Wahrung der Urheberpersönlichkeitsrechte, exklusiv sowie zeitlich, räumlich und sachlich unbeschränkt, sämtliche Nutzungsrechte an den selbst erstellten Texten, Bildern, Videos und Musikdateien, welche Du im Rahmen der Erstellung eines Spiels selbst auf die Plattform hochgeladen hast oder welche du uns als Spiel oder Spielidee auf anderen Wegen übermittelst. Diese Übertragung des Urheberrecht ermächtigt die HD GmbH insbesondere, die Aufnahmen und Beiträge der Mitglieder zu modifizieren und für werbliche Zwecke zu nutzen.

  %h2 8. Haftung und beschränkte Haftung durch die HD GmbH
  Lies Dir diesen Abschnitt bitte sorgfältig durch, da hiermit die Haftung der HD GmbH und ihren Tochtergesellschaften, verbundenen Unternehmen, Führungskräften, Mitarbeitern, Vertretern, Partnern und Lizenzgebern beschränkt wird. Jeder der nachstehenden Unterabsätze gilt nur im weitestgehend gesetzlich zulässigen Rahmen.
  %p
    8.1.
    %br
    Du bist Dir darüber bewusst, dass die Durchführung der Spiele Risiken für Deine Gesundheit bergen kann. Es kann zu Schäden und Verletzungen kommen. Du führst Spiele nur durch, wenn Du davon überzeugt bist, dass Du über die körperlichen und gesundheitlichen Voraussetzungen zum Durchführen der Spiele verfügst. Die Durchführung der Spiele passt Du immer Deinem eigenen Können an. Du akzeptierst und bestätigst mit Annahme der AGB, dass die Durchführung der Spiele auf eigene Gefahr erfolgt.  Dir ist klar, dass weder die HD GmbH noch der Entwickler des Spieles eine Haftung für Verletzungen und Schäden übernimmt, die Du als Nutzer erleidest, anderen Personen oder fremden Sachen zufügst. Die Haftung der HD GmbH oder des Herstellers des Spieles wegen Vorsatzes oder grober Fahrlässigkeit bleibt hiervon unberührt. Sofern durch Deine Durchführung der Spiele Dritte geschädigt werden, stellst Du die HD GmbH und den Entwickler des Spieles von allen Ansprüchen frei.
  %p
    8.2.
    %br
    Die HD GmbH haftet uneingeschränkt für Schäden, die von der Haftung nach zwingenden gesetzlichen Vorschriften, wie dem Produkthaftungsgesetz, umfasst werden sowie im Fall der Übernahme von Garantien.
  %p
    8.3.
    %br
    Für solche Schäden die schuldhaft durch das Verhalten der gesetzlichen Vertreter, leitenden Angestellten oder sonstigen Erfüllungsgehilfen der HD GmbH verursacht wurden, haftet die HD GmbH der Höhe nach beschränkt auf die vertragstypisch vorhersehbaren Schäden.
  %p
    8.4.
    %br
    Schadenersatzansprüche gegen die HD GmbH verjähren nach Ablauf von 12 Monaten seit ihrer Entstehung, es sei denn, sie basieren auf einer unerlaubten oder vorsätzlichen Handlung.

  %h2 9. Haftungsfreistellung durch den Nutzer
  %p Du stellst die HD GmbH, mit der die HD GmbH verbundene Unternehmen sowie die Angestellten, Arbeitnehmer, Mitarbeiter, Vertreter, Gesellschafter und Erfüllungsgehilfen der HD GmbH von sämtlichen Ansprüchen frei, die Dritte gegenüber der HD GmbH geltend machen aufgrund einer Verletzung ihrer Rechte durch von Dir innerhalb der rylyty-Angebote eingestellte Inhalte oder durch deren sonstige Nutzung der über die rylyty-Angebote zur Verfügung stehenden Anwendungen. Du übernimmst hierbei die Kosten einer notwendigen Rechtsverteidigung die HD GmbH einschließlich sämtlicher Gerichts- und Anwaltskosten in gesetzlicher Höhe. Du bist verpflichtet, der die HD GmbH für den Fall einer Inanspruchnahme durch Dritte unverzüglich, wahrheitsgemäß und vollständig sämtliche Dir zur Verfügung stehende Informationen mitzuteilen, die für eine Prüfung der Ansprüche und eine Verteidigung erforderlich sind. Darüber hinausgehende Schadensersatzansprüche der HD GmbH Dir gegenüber bleiben unberührt.
  %p Die vorgenannten Pflichten gelten nicht, soweit Du die betreffende Rechtsverletzung nicht zu vertreten hat.

  %h2 10. Änderung der Eigentumsverhältnisse
  %p
    10.1.
    %br
    Sofern sich die Eigentumsverhältnisse an unserem Unternehmen ändern, muss auch der neue Eigentümer die von uns in diesen AGB übernommenen Rechte und Pflichten erfüllen.
    %br Eine solche Änderung der Eigentumsverhätnisse findet unter Einhaltung einer Vorankündigungsfrist von einem Monat statt.
  %p
    10.2.
    %br
    Der Nutzer ist befugt, sich in einem solchen Fall durch Kündigung des Vertragsverhältnisses gegenüber der HD GmbH ohne Angabe von Gründen von dem Vertrag zu lösen.

  %h2 11. Widerrufsbelehrung
  %p Sofern Du dich bei den rylyty-Angeboten zu einem Zweck registrieren, der weder Deiner gewerblichen noch Deiner selbstständigen beruflichen Tätigkeit zugerechnet werden kann, gelten für Dich als Verbraucher im Sinne des Gesetzes (§ 13 Bürgerliches Gesetzbuch) die folgenden Bestimmungen:
  %p
    11.1 Widerrufsrecht
    %br
    Du kannst Deine Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z. B. Brief, Fax, E-Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312g Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:

  %p
    Holtzbrinck Digital GmbH
    %br
    Landsberger Str. 187
    %br 80687 München
    %br E-Mail: info@rylyty.com
  %p
    11.2 Widerrufsfolgen
    %br
    Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Kannst Du uns die empfangene Leistung sowie Nutzungen (z.B. Gebrauchsvorteile) nicht oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren beziehungsweise herausgeben, musst Du uns insoweit Wertersatz leisten. Dies kann dazu führen, dass Du die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf gleichwohl erfüllen musst. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Dich mit der Absendung Deiner Widerrufserklärung, für uns mit deren Empfang.
  %p
    11.3 Besondere Hinweise
    %br
    Dein Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Deinen ausdrücklichen Wunsch vollständig erfüllt ist, bevor Du Dein Widerrufsrecht ausgeübt hast.
  %p Ende der Widerrufsbelehrung.

  %h2 12. Anwendbares Recht, Erfüllungsort, Gerichtsstand
  %p
    12.1.
    %br
    Es gilt deutsches Recht unter Ausschluss des UN-Kaufrechts.
  %p
    12.2.
    %br
    Erfüllungsort und ausschließlicher Gerichtsstand ist, soweit gesetzlich zulässig, Berlin, Deutschland.
  %p
    12.3.
    %br
    Mündliche Nebenabreden bestehen nicht. Änderungen der Vertragsbedingungen bedürfen der Textform. Dies gilt auch für die Aufhebung oder Änderung dieser Textformklausel.
  %p
    12.4.
    %br
    Sollten einzelne Vertragsbestimmungen ganz oder teilweise unwirksam sein oder werden, so bleibt der Vertrag im Übrigen wirksam. Im Falle einer solchen Unwirksamkeit werden die Vertragspartner eine der unwirksamen Regelung wirtschaftlich möglichst nahe kommende rechtswirksame Ersatzregelung treffen. Das Gleiche gilt im Fall einer Regelungslücke.
