.block
  %h1
    = image_tag "signet-rylyty.png", :id => "signet-rylyty"

  %h2.red Alpha-Version DSE

  %h2 Datenschutzerklärung
  %p &nbsp;

  %p Dein Vertrauen in den korrekten Umgang mit deinen Daten ist für uns, die Holtzbrinck Digital GmbH, sehr wichtig. Selbstverständlich geschieht die Erhebung, Verarbeitung (umfasst die Speicherung, Veränderung, Übermittlung, Sperrung und Löschung) und Nutzung deiner Daten ausschließlich unter Beachtung der geltenden datenschutzrechtlichen Vorschriften. Unsere Grundsätze über den Umgang mit deinen Daten möchten wir dir nachfolgend kurz darlegen.
  %p &nbsp;

  %h2 1. Erhebung, Verarbeitung und Nutzung von personenbezogenen Daten
  %p Bei personenbezogenen Daten handelt es sich um Informationen zur Identität einer Person, wie etwa Name, Anschrift, Geburtsdatum oder E-Mail-Adresse.

  %p Je nachdem, welche rylyty-Angebote du in Anspruch nimmst, erheben, verarbeiten und/oder nutzen wir unterschiedliche personenbezogenen Daten, beispielsweise wenn du dich bei uns anmeldest, Credits bei uns kaufst, unsere Produkte oder unseren Dienst in Anspruch nimmst oder an einer Werbeaktion oder -kampagne teilnimmst oder auf andere Weise mit uns in Verbindung trittst. Wenn es erforderlich ist, fragen wir dich nach einer separaten Einwilligung. Nachstehend findest du Beispiele für die verschiedenen Kategorien der erfassten Daten.
  %p 
    1.1.  Bei der Registrierung
    %br
    Damit du die rylyty-Angebote nutzen kannst, müssen wir bei deiner Registrierung bestimmte personenbezogene Daten von dir als deine Registrierungsangaben erheben und diese verarbeiten. Dies sind folgenden Daten: Benutzername, E-Mail-Adresse, Passwort.
    %br
    Deine E-Mail-Adresse und dein Passwort sind für die anderen Nutzer der rylyty-Angebote in keinem Fall und zu keinem Zeitpunkt einsehbar. Wir werden diese Daten in keinem Fall an Dritte weitergeben und/oder diese Dritten sonst wie zur Kenntnis geben, wenn wir dich nicht vorher ausdrücklich um Erlaubnis gefragt haben. Weiterhin kannst du bei der Registrierung deinen Wohnort, deine Region und dein Geburtsdatum angeben.
  %p Wenn Du möchtest, kannst Du Zugangs-Tokens für andere Konten nutzen, die Du mit Deinem rylyty-Konto verknüpfst (wie Facebook). Diese ähneln einem elektronischen Schlüssel, der von dem Dienst bereitgestellt wird und der die Funktion eines Kennworts für die Authentifizierung übernimmt. Zum Beispiel kannst du dich mit deinem Facebook-Account einloggen, deine Facebook-Freunde einladen und Inhalte und Dateien aus dem rylyty-Angebot auf Facebook teilen. Du kannst die Verknüpfung jeder Zeit über Deinen Facebook-Account unter Privatsphäre-Einstellungen → Anwendungen, Spiele und Webseiten wieder löschen.
  %p 
    1.2.  Bei Produkten und Diensten
    %br
    Beim Zugriff auf unsere Produkte und Dienste werden Informationen über Deine Nutzung und Interaktion mit diesen gespeichert, darunter Computer-, Plattform-, Geräte- und Verbindungsdaten, Client-Leistungsdaten, Fehlerberichte, Gerätemerkmale, Bandbreite, Seitenaufrufstatistiken, Verkehr zu und von unseren Websites sowie der Browser-Art.
  %p 
    1.3.  Bei freiwilligen Angaben
    %br
    Wir können Dich auffordern, uns freiwillig Informationen wie Deinen Namen, Deine E-Mail-Adresse, Postanschrift sowie Nutzernamen und Passwort, Zustimmungen, Präferenzen und Feedback sowie Informationen mit Bezug auf Deine Geräte, Alter, Geschlecht, Postleitzahl und Sprachpräferenzen anzugeben. Im Rahmen einiger unserer Dienste stellst Du uns Informationen über andere Personen zur Verfügung.
    %br
    Zudem kannst Du freiwillig über die rylyty-Angebote Informationen und Dateien (zum Beispiel Bilder) hochladen und sie Deinem Account zufügen. Diese Informationen und Dateien können von allen anderen Nutzern, die für die rylyty-Angebote registriert sind, eingesehen werden.
  %p 
    1.4.  Bei Transaktionen
    %br
    Sofern Du über unser rylyty-Angebot Credits erwerben möchtest, musst Du personenbezogene Daten von dir oder derjenigen Person, zu deren Gunsten Du Credits erwerben möchtest, angeben. Abgefragt werden von uns dabei z.B. die E-Mail-Adresse sowie - im Einzelfall - auch noch weitere persönliche Daten.  
    %br
    Wir nutzen Deine personenbezogenen Daten für die Abwicklung von Zahlungen. Zu diesen Zwecken werden wir Deine Daten, soweit erforderlich, an den Kooperationspartner des von Dir ausgewählten rylyty-Angebotes sowie Einzelpersonen, welche wir mit der Erfüllung einzelner Aufgaben bzw. der Durchführung technischer, logistischer oder anderer Dienstleistungen beauftragt haben, übermitteln. Die beauftragten Dienstleister haben allerdings nur soweit Zugang zu Deinen persönlichen Daten und dürfen diese lediglich soweit nutzen, wie dies zur Auftragserfüllung notwendig ist. Darüber hinaus sind die Dienstleister verpflichtet, Deine personenbezogenen Daten gemäß dieser Datenschutzerklärung sowie den maßgeblichen Datenschutzgesetzen zu verarbeiten.
  %p 
    1.5.  Bei Newslettern
    %br
    Darüber hinaus bieten wir Dir im Rahmen unseres rylyty-Angebots an verschiedenen Stellen die Möglichkeit, dich über interessante Angebote und Neuigkeiten auf den verschiedensten Wegen (E-Mail, Telefon und/oder SMS/MMS) von uns informieren zu lassen. Solltest Du Dich beispielsweise in den Verteiler eines Newsletters eingetragen haben, so erhältst Du an Deine E-Mail-Adresse regelmäßig den gewünschten Newsletter. Aus dem Verteiler kannst Du Dich jederzeit wieder austragen. Wir werden Dich dann nicht mehr kontaktieren. Gegebenenfalls besteht im Rahmen der Registrierung für einen Newsletter die Möglichkeit, weitere Angaben zu Deiner Person zu machen, wenn Du beispielsweise eine Geburtstagsüberraschung erhalten möchtest. Wir werden die von Dir angegebenen Daten dann zu diesen Zwecken verarbeiten und nutzen.
    %br
    Wir nutzen Deine personenbezogenen Daten, um unser rylyty-Angebot und die angebotenen Dienste bedarfsgerecht zu gestalten und stetig zu verbessern. Zu diesen Zwecken werden wir Deine Daten, soweit erforderlich, an den Kooperationspartner des von Dir ausgewählten rylyty-Angebotes sowie Einzelpersonen, welche wir mit der Erfüllung einzelner Aufgaben bzw. der Durchführung technischer, logistischer oder anderer Dienstleistungen beauftragt haben, übermitteln. Die beauftragten Dienstleister haben allerdings nur soweit Zugang zu Deinen persönlichen Daten und dürfen diese lediglich soweit nutzen, wie dies zur Auftragserfüllung notwendig ist. Darüber hinaus sind die Dienstleister verpflichtet, Deine personenbezogenen Daten gemäß dieser Datenschutzerklärung sowie den maßgeblichen Datenschutzgesetzen zu verarbeiten.
  %p 
    1.6.  Bei Standortdaten
    %br
    Die rylyty-Angebote bieten Dir optional standortbezogene Dienste und Funktionen an, die möglicherweise die Verwendung Deiner Standortdaten erforderlich machen. Um Dir standortbezogene Dienste und Funktionen zur Verfügung zu stellen, verwenden wir Satelliten, WLAN-Netzwerke oder andere netzbasierte Standortdaten wie z.B. Deine IP-Adresse. Die Nutzung unterstützender Positionsbestimmungsmethoden kann den Austausch Deiner Gerätekennung oder Netzwerkbetreiberkennung mit einem Standortserver erfordern. Wir verarbeiten diese Informationen anonym, das heißt unabhängig von Deinen übrigen personenbezogenen Daten. Du kannst die Einstellung zur Positionsbestimmung Deines Mobiltelefons jederzeit ändern.

  %h2 2. Erhebung, Verarbeitung und Nutzung von Nutzungsdaten
  %p 
    Bei Nutzungsdaten handelt es sich um Daten, die Du nicht aktiv zur Verfügung stellen, sondern die passiv erhoben werden können, während du dich z. B. auf einer Website bewegst. Beim Besuch unserer rylyty-Angebote speichern wir für die Dauer von wenigen Arbeitstagen den Domain-Namen oder die IP-Adresse des anfragenden Rechners, die Dateianfrage des Clients (Dateiname und URL), den http-Antwort-Code, die Internetseite, von der Du uns besuchst, sowie das Datum und die Dauer Deines Besuches. Die Speicherung erfolgt zur Ermittlung von Störungen oder Missbrauch unserer rylyty-Angebote, soweit sie zum Aufbau weiterer Verbindungen erforderlich ist. Eine Auswertung Deiner Nutzungsdaten zur Erstellung personenbezogener Nutzungsprofile findet nicht statt, sofern Du einer solchen Nutzung nicht ausdrücklich zugestimmt hast. Im Falle von Störungen oder eines Missbrauchs behalten wir uns eine Anzeige bei den Strafverfolgungsbehörden vor. Eine darüber hinausgehende Nutzung oder Weitergabe Deiner Nutzungsdaten an Dritte erfolgt nicht.

  %h2 3. Verwendung von Cookies
  %p 
    3.1.  Was sind Cookies?
    %br
    Ein Cookie ist eine kleine Textdatei, die von WWW-Servern beim Besuch einer Internetseite verschickt wird und auf der Festplatte des jeweiligen Nutzers zwischengespeichert wird. Wird der entsprechende Server erneut aufgerufen, sendet der Browser des Nutzers den zuvor empfangenen Cookie wieder zurück an den Server. Der Server kann dann die durch diese Prozedur erhaltenen Informationen auf verschiedene Arten auswerten. Durch Cookies können z. B. Werbeeinblendungen gesteuert oder das Navigieren auf einer Internetseite erleichtert werden.

  %p 
    3.2.  Wie setzen wir Cookies ein?
    %br
    Beim Besuch einer Seite unseres rylyty-Angebots durch Dich werden Cookies an Deinen Browser gesendet und auf Deiner Festplatte gespeichert. Diese Cookies dienen dazu unser rylyty-Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Die Cookies enthalten keine personenbezogenen Daten bzw. keinerlei persönlichen Informationen über Dich, so dass uns eine Identifizierung Deiner Person mit den anhand der Cookies gewonnenen Informationen nicht möglich ist. Wir setzen Cookies dazu ein, dass wir Dich bei Deinem nächsten Besuch wiedererkennen und Dir beispielsweise Informationen zu Angeboten geben können, die ähnlich zu den bei Deinem letzten Besuch unseres rylyty-Angebots aufgerufenen sind. Wir verwenden Cookies auch, um die Häufigkeit der Seitenaufrufe und die allgemeine Seitennavigation zu messen und zu steuern. Solltest Du das Autologin aktivieren, würde Dir von dem entsprechenden rylyty-Angebot ebenfalls ein Cookie gesetzt werden, in dem Deine Registrierungsdaten gespeichert werden, um Dich bei einer erneuten Nutzung zu erkennen, damit Du Dich nicht mehr anmelden musst. Du kannst das Autologin jederzeit wieder deaktivieren, wenn Du es einmal eingeschaltet hast. Falls Du die Vorteile von Cookies nicht nutzen möchtest, kann unser rylyty-Angebot selbstverständlich auch ohne Cookies genutzt werden. Jeder WWW-Browser lässt sich so einstellen, dass Cookies generell abgelehnt werden. Falls Du Deinen Browser entsprechend einstellst, kannst Du eventuell nicht mehr sämtliche Dienste und/oder Funktionen unseres rylyty-Angebots vollständig nutzen.

  %p 
    3.3. Wie setzen Dritte in unseren rylyty-Angeboten Cookies ein?
    %br
    Unsere rylyty-Angebote benutzen Google Analytics, einen Webanalysedienst der Google Inc., USA ("Google"). Google Analytics verwendet Cookies, die eine Analyse der Benutzung unseres rylyty-Angebots durch Dich ermöglicht. Die durch die Cookies erzeugten Informationen über Deine Benutzung unseres rylyty-Angebots (einschließlich Deiner IP-Adresse) werden an einen Server von Google in Europa bzw. in einem Mitgliedstaat des Abkommens des Europäischen Wirtschaftsraums zur Anonymisierung der IP Adresse gesendet, so dass eine Personenbeziehbarkeit ausgeschlossen ist. Erst nach der Anonymisierung der IP-Adresse wird diese gekürzte IP-Adresse an einen Server in die USA übermittelt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. In unserem Auftrag wird Google die durch die Cookies erzeugten Informationen benutzen, um Deine Nutzung des Online-Angebots auszuwerten, um Reports über die Nutzung des Online-Angebots zusammenzustellen und um weitere mit der Nutzung des Online-Angebots und der allgemeinen Internetnutzung verbundene Dienstleistungen zu erbringen. Die (gekürzte) IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Du kannst die Verarbeitung Deiner Daten durch Google verhindern, indem Du das unter dem folgenden Link verfügbare Browser Plugin herunterlädst und installierst: http://tools.google.com/dlpage/gaoptout?hl=de.

  %p 3.4. Information zu Verwendung von Social Plugins

  %p 
    3.4.1. Facebook
    %br
    In unserem rylyty-Angeboten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA integriert. Die Facebook-Plugins erkennst Du an dem Facebook-Logo oder dem "Like-Button" ("Gefällt mir") in unseren rylyty-Angeboten.  Wenn Du unsere rylyty-Angebote besuchst, wird über das Plugin eine direkte Verbindung zwischen Deinem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Du mit Deiner IP-Adresse unser rylyty-Angebot besucht hast. Wenn Du den Facebook "Like-Button" anklickst während Du in Deinem Facebook-Account eingeloggt bist, kannst Du die Inhalte unseres rylyty-Angebots auf Deinem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer rylyty-Angebote Deinem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der rylyty-Angebote keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Wenn Du nicht wünschst, dass Facebook den Besuch unserer rylyty-Angebote Deinem Facebook-Nutzerkonto zuordnen kann, logge Dich bitte aus Deinem Facebook-Benutzerkonto aus.

  %p 
    3.4.2. Twitter
    %br
    In unseren rylyty-Angeboten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Dir besuchten Webseiten mit Deinem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten.

  %p 
    3.4.3. Google +1
    %br
    Mithilfe der Google +1-Schaltfläche kannst Du Informationen weltweit veröffentlichen. Über die Google +1-Schaltfläche erhältst Du und andere Nutzer personalisierte Inhalte von Google und unseren Partnern. Google speichert sowohl die Information, dass Du für einen Inhalt +1 gegeben hast, als auch Informationen über die Seite, die Du beim Klicken auf +1 angesehen hast. Deine +1 kann als Hinweise zusammen mit Deinem Profilnamen und Deinem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Deinem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden.
    Google zeichnet Informationen über Deine +1-Aktivitäten auf, um die Google-Dienste für Dich und andere zu verbessern. Um die Google +1-Schaltfläche verwenden zu können, benötigst Du ein weltweit sichtbares, öffentliches Google-Profil, das zumindest den für das Profil gewählten Namen enthalten muss. Dieser Name wird in allen Google-Diensten verwendet. In manchen Fällen kann dieser Name auch einen anderen Namen ersetzen, den Du beim Teilen von Inhalten über Ihr Google-Konto verwendet hast. Die Identität Deines Google-Profils kann Nutzern angezeigt werden, die Deine E-Mail-Adresse kennen oder über andere identifizierende Informationen von Dir verfügen.
    Neben den oben erläuterten Verwendungszwecken werden die von Dir bereitgestellten Informationen gemäß den geltenden Google-Datenschutzbestimmungen genutzt. Google veröffentlicht möglicherweise zusammengefasste Statistiken über die +1-Aktivitäten der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder verbundene Websites.

  %h2 4. Änderung Deiner Daten
  %p Wir bemühen uns, Deine personenbezogenen Daten korrekt zu speichern. Du kannst Deine Daten allerdings jederzeit im Profilbereich des jeweiligen Dienstes ändern (d. h. aktualisieren, korrigieren und/oder ergänzen) oder löschen. Sollte bei einem Dienst die Änderung Deiner Daten im Profilbereich nicht möglich sein oder ein solcher Profilbereich nicht existieren, dann kannst Du uns unter folgender E-Mail-Adresse erreichen: datenschutz@rylyty.com

  %h2 5. Widerrufsmöglichkeit
  %p Solltest Du am Erhalt bestimmter Informationen bzw. Angebote künftig kein Interesse mehr haben oder die Informationen/Angebote über einen bestimmten Weg nicht mehr erhalten wollen, so teile uns dies bitte per E-Mail an datenschutz@rylyty.com mit. Außerdem erhältst Du in jedem an Dich versendeten Newsletter die Möglichkeit der künftigen Zusendung von Newslettern zu widersprechen. Wir werden Deinem Wunsch dann umgehend entsprechen. An die genannte Adresse kannst Du Dich auch wenden, wenn Du Deiner Einwilligung in die Erhebung, Verarbeitung und Nutzung Deiner Daten für die Zukunft widerrufen möchten. In diesem Fall werden wir sämtliche gespeicherten Daten von Dir unverzüglich löschen. Bitte berücksichtige, dass es aus technischen oder organisatorischen Gründen zu einer Überschneidung zwischen Deinem Widerruf und der Nutzung Deiner Daten im Rahmen einer bereits laufenden Kampagne kommen kann.

  %h2 6. Keine Haftung für Internet-Sites von Kooperationspartnern
  %p Auf unseren Seiten verweisen wir auf verschiedene Kooperationspartner, die ihrerseits Internet-Sites und -Dienste anbieten. Diese haben in der Regel eigene Datenschutzerklärungen. Für diese nicht mit uns in Zusammenhang stehenden Erklärungen übernehmen wir keine Haftung. Wir bitten Dich, Dich dort über die jeweilige Datenschutzpraxis zu informieren.

  %h2 7. Datensicherheit
  %p Wir fühlen uns der Sicherheit Deiner Daten verpflichtet. Um einen unbefugten Zugang oder eine unbefugte Offenlegung zu verhindern, die Richtigkeit der Daten zu gewährleisten und die berechtigte Nutzung der Daten sicherzustellen, haben wir entsprechende technische und organisatorische Verfahren eingerichtet, um die Daten, die wir online erfragen, zu sichern und zu schützen. Dennoch können wir für die Offenlegung Deiner Daten aufgrund von Fehlern bei der Datenübertragung und/oder unberechtigtem Zugriff durch Dritte keine Verantwortung oder Haftung übernehmen.

  %h2 8. Auskünfte/Anregungen
  %p Für Auskünfte und Anregungen zum Thema Datenschutz stehen wir Dir gerne unter der E-Mail-Adresse datenschutz@rylyty.com zur Verfügung.

  %h2 9. Änderung der Eigentumsverhältnisse
  %p Sofern sich die Eigentumsverhältnisse an unserem Unternehmen ändern, sind wir berechtigt, deine Daten auf den jeweiligen neuen Eigentümer zu übertragen, damit dieser die Erbringung der von uns angebotenen Leistungen fortsetzen kann. Dessen ungeachtet muss auch der neue Eigentümer die von uns in dieser Datenschutzerklärung übernommenen Verpflichtungen erfüllen.

  %h2 10. Änderung der Datenschutzbestimmung
  %p
    Wir behalten uns das Recht vor, diese Allgemeine Datenschutzbestimmung jederzeit unter Beachtung der geltenden Datenschutzvorschriften zu ändern. Für die Nutzung unseres rylyty-Angebots gilt immer die zum Zeitpunkt Deines Besuchs online abrufbare Fassung der Allgemeinen Datenschutzbestimmung.
    %br
    Sofern Du uns anlässlich der Nutzung von Diensten personenbezogene Daten von Dir aus mitgeteilt hast, werden wir Dich über die geänderten Bedingungen in geeigneter Weise (z. B. per E-Mail) spätestens vier Wochen vor ihrem Inkrafttreten informieren. Widersprichst Du diesen Änderungen nicht innerhalb von vier Wochen nach Zugang der Mitteilung, gilt die geänderte Allgemeine Datenschutzbestimmung als angenommen. Wir werden Dich in unserer Mitteilung auf die Bedeutung dieser Vierwochenfrist gesondert hinweisen.

  %p Stand: Dezember 2012




